%tab-port-flex {
	@media only screen and(min-width: $tab-port) {
		display: -webkit-box;
		display: flex;
	}
}

%feature-box {
	width: 80%;
	border-radius: 5px;
	color: $color-blue;
	text-align: center;
	z-index: 10;
	background-color: white;

	@media only screen and(min-width: $tab-port) {
		margin: 5rem 3rem;
	}
}

%short-box-shadow {
	box-shadow: 0 0.5rem 1rem rgba(#000, 0.8);
}

%feature-box-outline {
	padding: 2rem 4rem 4rem;
	border: 1px solid $color-light;
	@extend %short-box-shadow;
}
