%tab-port-flex {
	@media only screen and(min-width: $tab-port) {
		display: -webkit-box;
		display: flex;
		padding: 0 4rem;
	}
}

%feature-box {
	width: 80%;
	border-radius: 5px;
	color: $color-blue;
	text-align: center;
	z-index: 10;
	background-color: white;

	@media only screen and(min-width: $tab-port) {
		margin: 5rem 3rem;
	}
}
