@import "../../../../sass/variables";
@import "../../../../sass/animations";

.feature {
	width: 80%;
	border: 1px solid $color-orange;
	box-shadow: 0 3px 1rem rgba(#000, 0.8);
	margin: 5rem auto;
	padding: 2rem 4rem 4rem;
	border-radius: 3px;
	color: $color-blue;
	text-align: center;
	z-index: 10;
	background-color: white;
	&__icon {
		width: 8rem;
		height: 8rem;
		margin: 1rem auto;
	}
	&__title {
		font-size: 2.8rem;
		margin: 3rem auto 2rem;
	}
	&__text {
		font-size: 2.2rem;
		font-style: italic;
	}
}
