@import "./sass/variables";
@import "./sass/animations";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	// @include respond(tab-land) {
	// 	font-size: 56.25%; //1rem=9px
	// }

	// @include respond(tab-port) {
	// 	font-size: 50%; //1rem=8px
	// }

	// @include respond(big-desktop) {
	// 	font-size: 75%; //1rem=12px
	// }
}

body {
	box-sizing: border-box;
	font-family: $font-display;

	@media only screen and(min-width: $tab-port) {
		padding: 3rem;
	}
	max-width: 120rem;
	margin: 0 auto;
}

.no__scroll {
	overflow: hidden;
}
